/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
// @import 'assets/styles/variables.scss';
@import 'variables';

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;

}

html, body{
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;

  &-center{
    justify-content: center;
    align-items: center;
  }
}
